{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}main/dashboard.css" />
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section class="box">
        <header>
            <h1>Dashboard</h1>
        </header>
    </section>

    <section class="recently-submitted-papers papers box">
        <h2><a href="/papers/new">Recently submitted papers</a></h2>
        {% include "papers/includes/papers.html" with papers=new_papers name="new" %}
    </section>

    <section class="controversial-papers papers box">
        <h2><a href="/papers/new">Controversial papers</a></h2>
        {% include "papers/includes/papers.html" with papers=controversial_papers name="controversial" %}
    </section>

    <section class="trending-papers papers box">
        <h2><a href="/papers/trending">Trending papers</a></h2>
        {% include "papers/includes/papers.html" with papers=trending_papers name="trending" %}
    </section>

    <section class="my-contributions contributions box">
        <h3>My contributions</h3>
        {% include "accounts/parts/contributions.html" with reviews=user.reviews.all %}
    </section>

{% endblock %}
