{% extends "base.html" %}
{% block content %}
<div class="well">
    <p>Whale whale whale.. what have we got here?</p>
    <p>OpenReview is lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis interdum tristique.
        Morbi id risus massa. Integer rutrum aliquam nibh, eget cursus libero laoreet sed. Praesent nulla justo,
        vehicula eu mattis sit amet, bibendum et turpis. Nunc neque ante, ornare posuere dapibus at, vulputate id
        elit. Proin id egestas libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. In facilisis sed ipsum vitae scelerisque. Donec at lorem molestie, aliquam justo sed, egestas enim.
        Donec ac lectus ut erat tempor vehicula suscipit ut tortor. Nam scelerisque, ligula et hendrerit euismod, elit
        felis tempor erat, sed viverra lacus purus eget tortor.<p>

    <p>Phasellus suscipit leo turpis. Sed eget cursus erat. Ut a feugiat ante. Sed vitae dapibus lectus. Pellentesque
    faucibus libero et nunc posuere pellentesque. Donec blandit nisl ac dui scelerisque, nec ultrices odio rhoncus. Sed
    ullamcorper enim quis erat dapibus pharetra. Fusce convallis ut purus eget scelerisque. Nulla non nisi elementum,
    tempor purus a, laoreet sem. Fusce et sem sit amet nisl aliquet porta sed at nulla. Quisque a eros ut nulla ornare
    pharetra a egestas libero. Quisque sed lectus placerat, aliquet elit vitae, laoreet augue. Sed interdum risus mi.</p>

    <p>
        <a href="{% url "add_review" %}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add review</a>
    </p>
</div>

<div id="coffee"></div>

<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-arrow-up"></i> Trending</h2>
        {% if trending_papers_list %}
            <table class="table papers">
            {% for paper in trending_papers_list %}
                <tr><td>
                    <a href="{% url 'paper' paper.id %}" title="{{ paper.publish_date }}, {{ paper.publisher }}">{{ paper.title }}</a>
                    <span class="nreviews" title="{{ paper.num_reviews }} review{% if paper.num_reviews != 1 %}s{% endif %}">{{ paper.num_reviews }}</span>
                </td></tr>
            {% endfor %}
            </table>
            <p><a class="btn btn-default" href="/papers/trending" role="button">View more &raquo;</a></p>
        {% else %}
            <p>No papers are available yet.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-certificate"></i> New</h2>
        {% if latest_papers_list %}
            <table class="table papers">
            {% for paper in latest_papers_list %}
                <tr><td>
                    <a href="{% url 'paper' paper.id %}" title="{{ paper.publish_date }}, {{ paper.publisher }}">{{ paper.title }}</a>
                    <span class="nreviews" title="{{ paper.num_reviews }} review{% if paper.num_reviews != 1 %}s{% endif %}">{{ paper.num_reviews }}</span>
                </td></tr>
            {% endfor %}
            </table>
            <p><a class="btn btn-default" href="/papers/new" role="button">View more &raquo;</a></p>
        {% else %}
            <p>No papers are available yet.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2>Controversial</h2>
        {% if controversial_papers_list %}
            <table class="table papers">
            {% for paper in controversial_papers_list %}
                <tr><td>
                    <a href="{% url 'paper' paper.id %}" title="{{ paper.publish_date }}, {{ paper.publisher }}">{{ paper.title }}</a>
                    <span class="nreviews" title="{{ paper.num_reviews }} review{% if paper.num_reviews != 1 %}s{% endif %}">{{ paper.num_reviews }}</span>
                </td></tr>
            {% endfor %}
            </table>
            <p><a class="btn btn-default" href="/papers/controversial" role="button">View more &raquo;</a></p>
        {% else %}
            <p>No papers are available yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
