{% extends "splash.html" %}

{% block header %}
  <h1 class="title">OpenReview — Discover &amp; discuss research papers</h1>
  <p class="tagline">An open platform for reviewing and discussing scientific papers. <a href="/about">Learn more.</a></p>

  <section class="search">
    <form method="GET" action="{% url 'search-paper' %}">
        <div class="query">
            <input placeholder="Discover interesting papers..." name="q" tabindex="1" type="text" autofocus />
            <p>
                <strong>Popular search terms: </strong>
                <a href="#">bitcoin</a>,
                <a href="#">riemann sum</a>,
                <a href="#">complex numbers</a>
            </p>
        </div>
    </form>
  </section>

{% endblock %}

{% block content %}
    <section class="submit-paper-for-review">
        <p>Are you an author seeking peer-review?</p>
        <a href="/papers/add" class="button">Submit paper for review</a>
    </section>

    <section class="trending-papers box">
        <h2>Trending papers</h2>
        {% if trending_papers %}
            <ol>
            {% for paper in trending_papers %}
                <li>
                    <a href="{% url 'paper' paper.id %}" class="title">{{ paper.title }}</a>
                    <a href="{% url 'paper' paper.id %}" class="number-of-reviews">
                        <span>{{ paper.num_reviews }}</span>
                    </a>
                </li>
            {% endfor %}
            </ol>
        {% else %}
          <p><em>No papers are available yet.</em></p>
        {% endif %}
    </section>

    <section class="top-reviews box">
        <h2>Recently submitted papers</h2>
        {% if top_reviews %}
            <ol>
            {% for review in top_reviews %}
                <li>
                    <a href="{% url 'paper' review.paper.id %}#r{{ review.id }}">
                        <span class="author">
                            {% if review.poster == None %}
                                Anonymous
                            {% else %}
                                {{ review.poster.username }}
                            {% endif %}

                            —
                        </span>

                        {{ review.text|truncatechars:110 }}
                    </a>
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <p><em>No reviews written yet.</em></p>
        {% endif %}

    </section>
{% endblock %}
