{% extends "base.html" %}

{% block title %}
Mission
{% endblock %}

{% block content %}
    <section class="box">
        <header>
            <h1>Mission</h1>
        </header>
    </section>
    </header>
    
    <br />
    
        <section class="box">    
            <p>Scientific research should be reliable. An essential tool to ensure that is peer reviewing, a
            process in which experts in the field of the paper give their opinion on the quality, significance
            and originality of the research. However, the current peer reviewing system is an outdated, closed
            system. To quote Larry Wasserman: "[Our current peer review] made sense in the 1600's when it was 
            invented. Over 300 years later we are still using the same system. It is time to modernize and 
            democratize our approach to scientific publishing." (Wasserman, 
            <a href="http://www.stat.cmu.edu/~larry/Peer-Review.pdf">A World Without Referees</a>, 2012).</p>

            <p>OpenReview.org's ambition is to create a completely new system for scientists to receive feedback
            on their research, in order to make peer reviewing a modern, transparent and democratic system.</p>
                        
            <p>The peer reviewing process works currently as follows: a scientist performs a research and writes
            a paper about it. He sends the paper to a journal he wishes his article to be published in. The
            journal sends the paper in its turn to some other scientist in the same field, the peer reviewers.
            Usually two or three peer reviewers will be involved. They read the paper and give their opion on
            it by writing a list of comments on it. Based on their comments, the journal decides whether or not
            the paper will be accepted. The author of the paper will receive the feedback, anonymized.</p>


            
            <p>Our view of scientific peer reviewing is that it should be more transparant than it is now. This
            can be achieved by giving everyone the opportunity to give their opinion on a paper, not just a
            group of two or three selected scientists. Additionally, peer reviews should be visible to anyone
            instead of only the writer, so that others might learn from comments on a paper. In this way, the
            paper submission process will be significantly more transparent and democratic. These improvements
            will influence the quality of research and scientific papers in a positive way. </p>
            
            <p>OpenReview.org gives everyone the opportunity to receive feedback on their papers and to give 
            feedback on other papers. Start reviewing today!</p>

        </section>
{% endblock %}
