[submodule "static/mathjax"]
	path = static/mathjax
	url = git://github.com/mathjax/MathJax.git
[submodule "static/normalize"]
	path = static/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "static/open-review-static"]
	path = static/open-review-static
	url = https://github.com/open-review/open-review-static.git
[submodule "static/raty"]
	path = static/raty
	url = git://github.com/wbotelhos/raty.git

