django
psycopg2
south
selenium
http://github.com/django-compressor/django-compressor/tarball/develop
pyyaml
cssselect
lxml
python3-memcached
markdown2
https://github.com/toastdriven/django-haystack/archive/master.zip
requests
pyelasticsearch