body h1,
body h2,
body h3 {
    font-family: 'Open Sans', Arial, sans-serif;
}

body > header {
    border-bottom: 1px #D3D3D3 solid;
    background: #FCFCFC;
}

body > header > nav {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

body > header > nav h1 {
    font-family: Merriweather, Georgia, serif;
    font-size: 24px;
    text-align: left;
    padding: 25px 0;
    margin: 0;
    float: left;
}

body > header > nav h1 a,
body > header > nav h1 a:hover {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

body > header > nav ul {
    overflow: hidden;
    float: right;
    display: block;
    margin: 10px 0;
    padding: 0;
}

body > header > nav h1 + ul {
    margin-left: 40px;
}

body > header > nav ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}


body > header > nav ul li.seperator {
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    font-weight: 30px;
    color: #202020;
}

body > header > nav ul li a {
    font-weight: bold;
    display: block;
    padding: 16px 20px;
    font-size: 14px;
    color: #202020;
}

body > header > nav ul li:last-child a {
    padding-right: 0;
}

body > main {
    padding: 20px 0 40px 0;
}

body > main p,
body > main li {
  font-family: Merriweather, Georgia, serif;
  line-height: 1.7em;
  font-size: 13px;
}

body > main .box > h2 {
  font-size: 16px;
  margin: 0;
  padding: 17px 20px 15px 20px;
  border-bottom: 2px #E5E5E5 solid;
}

body > main .box > ol {
    padding: 10px 20px;
    margin: 0;
}

body > main .box > ol {
    list-style: none;
}

body > main .box > ol li {
    display: block;
    padding: 6px 0;
    overflow: hidden;
}
