body > hr {
    border: 1px transparent solid;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
    border-bottom: 1px #fff solid;
}

body > footer {
    overflow: hidden;
    margin-bottom: 100px
}

body > footer .column-left,
body > footer .column-right {
    width: 120px;
}

body > footer .column-left {
    float: left;
}

body > footer .column-right {
    float: right;
}

body > footer *[class*='column-'] h3 {
    font-size: 13px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 10px;
}

body > footer *[class*='column-'] ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

body > footer *[class*='column-'] ul li {
  display: block;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
}

body > footer *[class*='column-'] ul li + li {
  margin-top: 5px;
}

@media all and (max-width: 480px) {
    body > footer .column-right {
        float: left;
    }   
}
