* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F7FAFA;
  line-height: 1.4em;
  font-size: 13px;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

body a {
  text-decoration: none;
  color: #187676;
}

body h1,
body h2 {
    font-family: Merriweather, Georgia, serif;
}

body a:hover {
  text-decoration: underline;
}
