body > header {
    border-bottom: 1px #D3D3D3 solid;
    background: #FCFCFC;
}

body > header h1.title,
body > header p.tagline {
    text-align: center;
    margin: 0;
}

body > header h1.title {
    font-size: 25px;
    color: #000;
    font-weight: 700;
    padding: 60px 0 0;
}

body > header p.tagline {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    padding: 20px 0 60px;
}

body > main {
    padding-top: 60px;
}

body > header section.search {
    width: 589px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 60px;
}

body > header section.search .query {
/*      width: 500px;*/
}

body > header section.search .query input,
body > header section.search .query p {
    width: 100%;
}

body > header section.search .query input {
    font-family: 'Open Sans', Arial, sans-serif;
    /* TODO: Save image to static folder */
    font-size: 18px;
    padding: 7px 10px;
    background: #fff url('http://f.cl.ly/items/3a2e0X0D1r1O1b1o0Z3Q/magnifier.png') no-repeat right 10px center;
}

body > header section.search .query input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

body > header section.search .query p {
    text-align: left;
    margin: 15px 0 0;
}

body > header section.search .query p strong {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
}

body > main .box {
    float: left;
    width: 490px;
    background: #fff;
    padding: 0;
    margin-bottom: 40px;
}

body > main .box + .box {
  margin-left: 20px;
}

body > main .box h2 {
  font-size: 16px;
  margin: 0;
  padding: 17px 20px 15px 20px;
  border-bottom: 2px #E5E5E5 solid;
}

body > main .box h2 {
  color: #5D5D5D;
}

body > main .box ol,
body > main .box p {
    padding: 10px 14px;
    margin: 0;
}

body > main .box ol {
    list-style: none;
}

body > main .box ol li {
    display: block;
    overflow: hidden;
    padding: 0;
}

body > main .box ol li a {
    display: block;
    padding: 6px;
}

body > main .box.trending-papers ol li a {
    float: left;
}

body > main .box.trending-papers ol li a + a {
    padding-left: 0;
}

body > main .box.trending-papers ol li a.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 430px;
}

body > main .box.trending-papers ol li:hover > a.title {
    text-decoration: underline;
    width: 390px;
    margin-right: -6px;
}

body > main .box.trending-papers ol li a.number-of-reviews {
    float: right;
    width: 28px;
}

body > main .box.trending-papers ol li a.number-of-reviews:hover,
body > main .box.trending-papers ol li a.title:hover + a.number-of-reviews {
    width: 76px;
    right: 76px;
}

body > main .box.trending-papers ol li a.number-of-reviews:hover > span,
body > main .box.trending-papers ol li a.title:hover + a.number-of-reviews > span {
    background: #187676;
    color: #fff;
    width: auto;
    padding: 0 5px;
}

body > main .box.trending-papers ol li a.number-of-reviews:hover > span:after,
body > main .box.trending-papers ol li a.title:hover + a.number-of-reviews > span:after {
    content: " reviews";
}

body > main .box.trending-papers ol li span {
    float: right;
    width: 16px;
    height: 16px;
    line-height: 14px;
    border: 1px #187676 solid;
    border-radius: 2px;
    text-align: center;
    color: #187676;
    font-size: 10px;
    font-weight: 600;
}

body > main .box.top-reviews ol li + li {
  margin-top: 3px;
}

body > main .box.top-reviews ol li a > span.author {
    color: #000;
    text-decoration: none;
    padding: 6px 0;
}

body > main .contributing-to-open-review,
body > main .publishing-on-open-review {
    width: 490px;
    float: left;
    margin-bottom: 40px;
}

body > main .publishing-on-open-review {
    margin-left: 20px;
}

body > main .submit-paper-for-review {
  width: 549px;
  margin: 0 auto 60px auto;
  height: 42px;
}

body > main .submit-paper-for-review p,
body > main .submit-paper-for-review a.button {
    float: left;
}

body > main .submit-paper-for-review p {
    font-size: 17px;
    line-height: 42px;
    margin: 0;
    font-weight: 600;
}

body > main .submit-paper-for-review a.button {
    margin-left: 20px;
}
