{% extends "base.html" %}
{% load bootstrap %}
{% block login %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}accounts/login.css" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="login col-md-6">
            <h1>Existing</h1>
            <center>
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ login_form|bootstrap }}
                    <input id="login" class="btn btn-primary" name="existing" type="submit" value="Login">
                </form>
            </center>
        </div>
        <div class="register col-md-6">
            <h1>New</h1>
            <center>
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ register_form|bootstrap }}
                    <input id="register" class="btn btn-primary" name="new" type="submit" value="Register">
                </form>
            </center>
        </div>
    </div>

{% endblock %}
