{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}accounts/settings.css" />
{% endblock %}

{% block content %}
    <header>
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    </header>

    </header>

    <section class="my-settings box">
        <h3>My settings</h3>
        <form method="POST">
            {% csrf_token %}
            <label>Username:</label><input type="text" disabled value="{{ user.username }}" />
            {{ settings_form }}
            <button name="update-settings" type="submit">Save changes</button>
        </form>
    </section>

    <section class="my-contributions box">
        <h3>Recent contributions</h3>

        <ol>
        <!-- TODO: Limit number of reviews (4?), sort by date -->
        {% for review in reviews %}
            <li>
                <a href="{% url 'review' review.paper.id review.id %}" title="{{ review.timestamp }}, {{ review.poster }}">
                    <span class="number-of-votes">
                        {{ review.n_votes }}
                    </span>
                    {{ review.paper.title }}
                </a>
                <blockquote>
                    {{ review.text|slice:":200" }}…
                </blockquote>
            </li>
        {% endfor %}
        </ol>

        <hr />

        <p>
            <a href="#">View all of my contributions →</a>
        </p>
    </section>
{% endblock %}
