{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}papers/css/reviews.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}papers/css/paper.css" />
{% endblock %}

{% block title %}
    {% if review.parent == null %}Review{% else %}Comment{% endif %} - {{paper.title}}
{% endblock %}

{% block js %}
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/js/voting.coffee"></script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/js/writing.coffee"></script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/js/deleting.coffee"></script>
{% endblock %}

{% block content %}
    <!-- We need to include paper section ([class=paper]), which javascript will look for. -->
    <section data-paper-id="{{ paper.id }}" data-votes="{{ my_votes }}" data-reviews="{{ my_reviews }}" class="paper"></section>

    <section class="thread">
        {% include "papers/review_tree.html" with tree=tree %}
    </section>
{% endblock %}
