<textarea name="text" placeholder="You can use markdown and LaTeX. A preview will be rendered below."></textarea>

<p style="display:none;" class="preview-error permission-denied">
    You need to be <a href="{% url 'accounts-login' %}">logged</a> in to submit a review!
</p>

<label>
    <a class="tooltip" href="#">
        Visibility:
        <span>
            <strong>Public:</strong> name visible to everyone.<br />
            <strong>Semi-anonymous:</strong> name will be hidden.<br />
            <strong>Anonymous:</strong> name will not be present in database. You won't be able to edit or delete the contribution.<br />
            <strong>External:</strong> written by external author.<br />
        </span>
    </a>

    <select name="visibility">
        <option value="public">Public</option>
        <option value="semi_anonymous">Semi-anonymous</option>
        <option value="anonymous">Anonymous</option>
        <option value="external">External</option>
    </select>

</label>

<button type="submit">Submit {% if is_review %}review{% else %}reply{% endif %}</button>
