{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}papers/paper-with-reviews.css" />
{% endblock %}

{% block js %}
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/voting.coffee"></script>
{% endblock %}

{% block content %}
    <h1>
        {{ paper.title|capfirst }} <br/>
        {% for author in paper.authors.all %}
          <small>{{ author.name }}{% if not forloop.last %},{% endif %}</small>
        {% endfor %}
    </h1>

    <p>{{ paper.abstract }}</p>

    <p>
        <strong>Keywords: </strong>
        <em>
            {% for keyword in paper.keywords.all %}
                {{ keyword }}{% if not forloop.last %},{% endif %}
            {% empty %}
                No keyword available.
            {% endfor %}
        </em>
    </p>

    <p>
        <strong>Links:</strong>
        {% if not paper.urls %}
            <em>No urls available.</em>
        {% else %}
            {{ paper.urls }}
        {% endif %}
    </p>

    <h2>{{ paper.num_reviews }} Reviews</h2>
    {% for review in reviews %}

      <section review_id="{{ review.id }}" class="bs-callout bs-callout-info review {% if not user.is_anonymous %}enabled{% endif %}">
        <p>{{ review.text }}</p>

        <div class="row">
          <span class="col-md-9"><em>Written by</em>: {{ review.poster.username }}</span>
          <span class="col-md-3">
              <span class="login"><small><em>You must be logged in to vote!</em></small></span>
              <div style="float:right;" class="btn-group btn-group-xs ">
                <a title="Helpful, contributing, .." class="upvote btn {% if review.id in upvotes %}voted btn-success{% else %}btn-default{% endif %}">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                    <span class="count">{{ review.n_upvotes }}</span>
                </a>
                <a title="Offtopic, rude, .." class="downvote btn {% if review.id in downvotes %}voted btn-danger{% else %}btn-default{% endif %}">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                    <span class="count">{{ review.n_downvotes }}</span>
                </a>
              </div>
            </span>
        </div>
      </section>

    {% endfor %}
{% endblock %}
