{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}papers/paper-with-reviews.css" />
{% endblock %}

{% block js %}
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/voting.coffee"></script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/writing.coffee"></script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}papers/deleting.coffee"></script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}js/starratings.coffee"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}raty/lib/jquery.raty.js"></script>
{% endblock %}

{% block meta %}
    <div class="hide">
        <div id="anonymous">{{ user.is_anonymous|lower }}</div>
        <div id="my_votes">{{ my_votes|safe }}</div>
        <div id="my_reviews">{{ my_reviews|safe }}</div>
    </div>
{% endblock %}

{% block content %}
   <h1>
        {{ paper.title|capfirst }} <br/>
        {% for author in paper.authors.all %}
          <small>{{ author.name }}{% if not forloop.last %},{% endif %}</small>
        {% endfor %}
    </h1>

    <p>{{ paper.abstract }}</p>

    <p>
        <strong>Keywords: </strong>
        <em>
            {% for keyword in paper.keywords.all %}
                {{ keyword }}{% if not forloop.last %},{% endif %}
            {% empty %}
                No keyword available.
            {% endfor %}
        </em>
    </p>

    <p>
        <strong>Categories: </strong>
        <em>
            {% for category in paper.categories.all %}
                {{ category }}{% if not forloop.last %},{% endif %}
            {% empty %}
                No categories available.
            {% endfor %}
        </em>
    </p>    

    <p>
        <strong>Links:</strong>
        {% if not paper.urls %}
            <em>No urls available.</em>
        {% else %}
            {{ paper.urls }}
        {% endif %}
    </p>

    <p>
        <strong>ID:</strong> {{ paper.id }}
    </p>

    <hr/>
    {% url 'paper' paper.id as url %}
    {% for review in reviews %}
        {% include "papers/review.html" with review=review.review user=user url=url edit_review_form=review.form edit_review_name=review.submit_name %}
    {% empty %}
        <em>No reviews yet!</em>
    {% endfor %}

    <hr/>

    {% if not user.is_anonymous %}
    <div class="review-container">
        <form method="post" class="new new-review" data-preview="{% url 'preview' paper.id %}">
            {% csrf_token %}
            <table>{{ add_review_form }}</table>
            <br /><input name="add_review" type="submit" value="Submit review">
            {% include "papers/preview.html" %}
        </form>
    </div>
    {% else %}
        <p>
            <a href="{% url 'accounts-login' %}?next={% url 'paper' paper.id %}">Log in</a> to add a review.
        </p>
    {% endif %}


{% endblock %}


