{% load markdown %}

<section data-review-id="{{ review.id }}" class="review box">
    <div data-url="{% url "vote" review.paper_id review.id %}" class="voting">
      <a class="up">❮</a>
      <span class="counter">{{ review.score }}</span>
      <a class="down">❯</a>
    </div>

    <header>
        {% if review.anonymous %}
            Anonymous
        {% else %}
            {{ review.poster.full_name }}
        {% endif %} <a href="{% url 'review' review.paper_id review.id %}">wrote on <span class="datetime">{{ review.timestamp }}</span></a>:

        <span class="rating">★★☆☆☆</span>
    </header>

    <article class="content {% if review.is_deleted %}deleted{% endif %}">
        {% if review.text %}
            {{ review.text|markdown }}
        {% else %}
            <p class="deleted">[deleted]</p>
        {% endif %}
    </article>
</section>
