{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}normalize/normalize.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/general.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/footer.css" />
            {% block css %}{% endblock %}
        {% endcompress %}
        <title>OpenReview</title>
    </head>
    <body csrf="{{ csrf_token }}">
        <header>
          <h1>OpenReview.org</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'footer.html' %}

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        {% block meta %}{% endblock %}

        {% compress js %}
            {% block js %}{% endblock %}
        {% endcompress %}

        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'],['\\(','\\)']],
                processEscapes: true
            }
          });
        </script>
    </body>
</html>
