{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize-css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fonts.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/spinner.css" />
            {% block css %}{% endblock %}
        {% endcompress %}
        <title>{% block title %}{% endblock %} - OpenReview</title>
    </head>
    <body class="tex2jax_ignore" data-anonymous="{{ user.is_anonymous|lower }}" data-csrf="{{ csrf_token }}">
        <header>
          <nav>
            <h1 class="logo"><a href="/">OpenReview.org</a></h1>
            <form method="GET" action="{% url 'search-paper' %}">
                <div class="query">
                    <input placeholder="Search for papers..." value="{{ query }}" name="q" tabindex="1" type="text" />
                </div>
            </form>
            <ul>
              <li><a href="/papers/new">Browse Papers</a></li>
              <li class="separator">·</li>
              <li><a href="/papers/add">Add Paper</a></li>
              <li class="separator">·</li>
              {%  if user.is_anonymous %}
                  <li><a href="{% url 'accounts-login' %}">Login</a></li>
                  <li class="separator">·</li>
                  <li><a href="{% url 'accounts-register' %}">Register</a></li>
              {%  else %}
                  <li><a href="{% url 'accounts-settings' %}">My profile</a></li>
              {%  endif %}
            </ul>
          </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'includes/footer.html' %}

        {% block meta %}{% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}components/jquery-debounce/jquery.debounce.js"></script>
            {% block js %}{% endblock %}
        {% endcompress %}

        <script type="text/javascript">window.staticUrl = "{{ STATIC_URL }}";</script>

        {% include 'includes/scripts/mathjax.html' %}
    </body>
</html>
