{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize-css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fonts.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/splash.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css" />
            {% block css %}{% endblock %}
        {% endcompress %}
        <title>{% block title %}{% endblock %} - OpenReview</title>
    </head>
    <body data-csrf="{{ csrf_token }}">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <header>
            {% block header %}{% endblock %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'includes/footer.html' %}

        {% block meta %}{% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
            <script type="text/coffeescript" src="{{ STATIC_URL }}js/messages.coffee"></script>
            {% block js %}{% endblock %}
        {% endcompress %}

        {% include 'includes/scripts/mathjax.html' %}
    </body>
</html>
