{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize-css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fonts.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/splash.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css" />
            {% block css %}{% endblock %}
        {% endcompress %}
        <title>{% block title %}{% endblock %} - OpenReview</title>
    </head>
    <body data-csrf="{{ csrf_token }}">
        <header>
            {% block header %}{% endblock %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'includes/footer.html' %}

        {% block meta %}{% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
            {% block js %}{% endblock %}
        {% endcompress %}

        {% include 'includes/scripts/mathjax.html' %}
    </body>
</html>
