main > section.navigation-bar {
}

main > section.navigation-bar > header {
    overflow: hidden;
}

main > section.navigation-bar > header > h1 {
    float: left;
    display: block;
}

main > section.navigation-bar > header > ul {
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 17px 20px 15px 20px;
}

main > section.navigation-bar > header > ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

main > section.navigation-bar > header > ul li a {
    padding: 0 10px;
    line-height: 30px;
    display: block;
}

main > section.navigation-bar > header > ul li a.active,
main > section.navigation-bar > header > ul li a.active:hover {
    background: #187676;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
}

main > section.navigation-bar > header > ul li + li {
    margin-left: 20px;
}
