body > main > section.box {
    padding: 0;
    margin-top: 20px;
    max-width: 600px;
    float: left;
}

body > main > section.box > form label {
    width: 100px;
}

body > main > section.box > form input {
    width: 448px;
}

body > main > section.box > form button[type=submit] {
    float: right;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
