body > main > section {
    margin-bottom: 20px;
}

body > main > section.paper.box {
    padding: 0;
    overflow: hidden;
    background-color: #FCFCFC;
}

body > main > section.paper header {
    border-bottom: 2px #E5E5E5 solid;
}

body > main > section.paper header h1 {
    font-size: 22px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    text-shadow: 0 1px 0 #fff;
    padding: 17px 20px 15px 20px;
}

body > main > section.paper header h1 a {
    color: rgba(0, 0, 0, 0.9);
}

body > main > section.paper div.abstract,
body > main > section.paper div.meta {
    float: left;
    margin-top: 17px;
    margin-bottom: 17px;
}

body > main > section.paper div.abstract {
    width: 618px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

body > main > section.paper div.meta {
    margin-right: 20px;
    width: 320px;
}

main > section.paper div.abstract p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: justify;
    text-shadow: 0 1px 0 #fff;
}

main > section.paper div.abstract p + p {
    margin-top: 10px;
}

body > main > section.paper div.meta ul {
    display: block;
    margin: 0;
    padding: 0;
}

body > main > section.paper div.meta ul li {
    display: block;
    padding: 0;
    text-align: justify;
}

body > main > section.paper div.meta ul li + li {
    margin-top: 10px;
}

body > main > section.reviews {
    width: 640px;
    padding: 0 20px 20px;
    float: left;
}

body > main > section.reviews > h2 {
    font-size: 16px;
    margin: 0;
    padding: 17px 0 15px;
    border-bottom: none;
}

body > main > section.reviews section.review.box {
    background-color: #fff;
    padding: 15px;
    border-radius: 0;
}
body > main > section.reviews section.review + section.review {
    margin-top: 20px;
}

body > main > section.reviews section.review > header {
    overflow: hidden;
    margin-bottom: 10px;
}

body > main > section.reviews section.review > header a.author,
body > main > section.reviews section.review > header span.rating {
    display: block;
}

body > main > section.reviews section.review > header a.author {
    float: left;
    text-decoration: underline;
}

body > main > section.reviews section.review > header span.rating {
    float: right;
    color: #4b4b4b;
}

body > main > section.reviews section.review p.content {
    text-align: justify;
    color: #1A3333;
    padding: 0;
    margin: 0;
}

body > main > aside {
    float: right;
    width: 340px;
}

body > main > aside > div.box {
    padding: 0;
}

body > main > aside > div.box + div.box {
    margin-top: 20px;
}
