.reviews {
    width: 640px;
    padding: 0 20px 20px;
    float: left;
}

.reviews > h2,
body > main .reviews > h2 {
    font-size: 16px;
    margin: 0;
    padding: 17px 0 15px;
    border-bottom: none;
}

.review.box {
    background-color: #fff;
    padding: 15px;
    border-radius: 0 2px 2px 2px;
}

.review {
    position: relative;
    line-height: 1.7em;
    font-size: 13px;
    font-family: Merriweather, Georgia, serif;
}


.review > div.voting {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px 0 0 2px;
    left: -40px;
    top: -1px;
    width: 40px;
    position: absolute;
    background-color: #fff;
}

.review > div.voting a,
.review > div.voting span {
    display: block;
    text-align: center;
    position: relative;
    width: 40px;
}

.review > div.voting a,
.review > div.voting a {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    font-size: 18px;
    line-height: 0px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}

.review > div.voting span {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    width: 40px;
    left: 0;
    font-weight: bold;
    line-height: 20px;
}

.review > header {
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold;
    font-size:0.8em;
}

.review > header a.author,
.review > header span.rating {
    display: block;
}

.review > header a.author {
    float: left;
    text-decoration: underline;
}

.review > header span.rating {
    float: right;
    color: #4b4b4b;
}

.review article.content {
    text-align: justify;
    color: #1A3333;
    padding: 0;
    margin: 0;
}

.review article.content p {
    margin: 0;
}

.review article.content p + p {
    margin-top: 10px;
}

.review article.content a.add-comment {
    float: right;
}

.rating-input span:hover{
    cursor: pointer;
}

.review .voting a.up, .voting a.down{
    color:grey;
    text-decoration: none;
}

.review .voting a.up.voted, .voting a.up:hover{
    color:green;
}

.review .voting a.down.voted, .voting a.down:hover{
    color:red;
}