main > section.query-bar {
}

main > section.query-bar > header {
    overflow: hidden;
}

main > section.query-bar > header > h1 {
    float: left;
    display: block;
}

main > section.no-results {
    margin-top: 20px;
}

main > section.no-results > form {
    margin: 20px auto 0 auto;
    width: 400px;
}

main > section.no-results > form input[type=text] {
    width: 100%;
}
