main > section.query-bar {
}

main > section.query-bar > header {
    overflow: hidden;
}

main > section.query-bar > header > h1 {
    float: left;
    display: block;
}

main > section.query-bar > header > form {
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 17px 20px 15px 20px;
}

main > section.query-bar > header > form input[type=text] {
    width: 380px;
}
